html {
  background-color: #999;
}

body {
  max-width: 960px;
  margin: auto;
}

nav {

}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline-block;
}

#main {

}


/*tagName: "input[type='text']"
*/
